---
title: "Workshops"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>AHILA 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
    <style>
        .list{
            font-size:medium; 
            font-weight: bold;
        }
        .card-body .list-group-item {
            border: 0;
        }
        .workshop {
            margin-bottom: 20px;
        }
        .workshop-content {
            padding-left: 20px;
        }
        .list-group-item-action li {
            text-indent: -20px;
        }
    </style>
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Workshops</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Program</a></li>
                    <li class="active">Workshops</li>
                </ul>
            </div>
        </div>

    <div class="bg-color-light">
        <div class="container content-xs">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
                <!-- Contents goes here -->
                <div class="row" style="margin: 50px">
                    <!-- <div class="card">
                        <div class="card-body">
                            <div class="list-group-item">
                                <div class="list-group-item-action workshop">
                                    <h3>Workshop 1</h3>
                                    <div class="workshop-content">
                                        <li class="list">Leveraging ORCID's Global Participation Program and Regional Consortium Approach to Enhance Global ETD Discoverability and Reuse</li>
                                        <p class="text-muted mb-0" style="margin-bottom: 5px;"><strong>Author:</strong> Lombe Tembo</p>
                                        <p class="text-muted mb-0" style="margin-bottom: 5px;"><strong>Organisation:</strong> ORCID</p>
                                        <p class="text-muted mb-0" style="margin-bottom: 5px;"><strong>Abstract:</strong> This workshop proposal aims to explore strategies for leveraging ORCID and Persistent Identifiers (PIDs) to enhance the discoverability and reusability of Electronic Theses and Dissertations (ETDs) on a global scale. ETDs represent a vital component of scholarly communication, providing valuable insights and contributions to research.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                      
                        <div class="col-md-8 col-md-offset-2">
                            <div class="error-v1">
                                <h3><span>Coming soon...</span></h3><br>
                                <a class="btn-u btn-bordered" href="{{ site.baseurl }}/">Back Home</a>
                            </div>
                        </div>                    
                </div>  
            </div>
        </div>
        <!--/end container-->
    </div>
</div>
<!--=== End Content ===-->


<!--=== Footer ===-->
{% include footer.html %}
<!--=== End Footer ===-->
</div>

<!--=== Scripts ===-->
{% include scripts.html %}
<!--=== End scripts ===-->

</body>
</html>
