---
title: "Call for Workshops and Tutorials"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>AHILA 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call for Workshops and Tutorials</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call for Workshops and Tutorials</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="row" style="margin: 50px">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="error-v1">
                                <h3><span>Coming soon...</span></h3><br>
                                <a class="btn-u btn-bordered" href="https://etd2024.unza.zm/">Back Home</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="news-v3-in">
                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Worksohps and Tutorials for AHILA 2025, Lusaka, Zambia</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for tutorials:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Workshop/Tutorial proposal due: <span class="text-danger"><s>April 26, 2024</s> <s>May 17, 2024</s> <s>June 7, 2024</s> Aug 16, 2024</span><br>
                            Workshop/Tutorials notification: <span class="text-danger"><s>May 17, 2024</s> <s>June 7, 2024</s> <s>June 28, 2024</s> Sep 6, 2024</span><br>
                            Workshop/Tutorial day: <span class="text-danger"><s>October 29, 2024</s> Nov 4, 2024</span>
                        </p>

                        <p>
                            Content of pre workshops and turtorial events, taking place in lusaka, Zambia   
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                        <p>
                            Submissions should include preliminary page(s) and an extended abstract using the ETD 2024 format. The preliminary page(s) should
                            include the following elements:
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Title</li>
                                    <li>Motivation for the workshop/tutorial as it relates to the AHILA 2025 theme and/or AHILA in general</li>
                                    <li>Theme and purpose of the workshop/tutorial</li>
                                    <li>Format (half/full-day) and planned activities, including breaks</li>
                                    <li>List of facilitators/organisers, incuding their biographies, describing relevant qualifications and experience</li>
                                    <li>Details of previous similar related workshops held at other events</li>
                                </ul>
                            </blockquote>
                        </p>

                        <p>
                            document format and details.
                        </p>

                        <p>
                            submisison platfroms for suggested AHILA workshops or tutorials platfrom.
                        </p>

                        <p></p>

                        <h3><strong>AHILA 2025 Conference Organising Committee</strong></h3>

                        <strong>Contact information:</strong><br>
                        Please email AHILA EMAIL for any inquiries.
                        <hr>
                    </div> -->
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
