---
title: "Call for Full Papers pages"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>AHILA 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Call For Full Papers</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="">Submit</a></li>
                    <li class="active">Call For Full Papers</li>
                </ul>
            </div>
        </div>

        <div class="bg-color-light">
            <div class="container content-xs">
                <div class="news-v3 margin-bottom-30">
                    {% include banner.html %}
                    <!-- Contents goes here -->
                    <div class="news-v3-in">

                        <h2 class="margin-bottom-5" style="margin-bottom: 0">
                            <strong>Call for Full Papers for AHILA 2025, Lusaka, Zambia</strong>
                        </h2>

                        <h5 class="margin-bottom-5"><strong>Important dates for full papers:</strong></h5>
                        <p>
                            Time zone: <a href="https://www.timeanddate.com/time/zones/aoe">Anywhere On Earth (AOE)</a>
                            <br>
                            Full paper abstracts due: <span class="text-danger"><s>April 26, 2024</s> <s>May 17, 2024</s> June 7, 2024</span><br>
                            Full paper abstract notifications: <span class="text-danger"><s>May 17, 2024</s> <s>June 7, 2024</s> June 29, 2024</span><br>
                            Full papers due: <span class="text-danger"><s>July 19, 2024</s> <s>August 16, 2024</s> September 27, 2024</span><br>
                            Full paper notifications: <span class="text-danger"><s>August 16, 2024</s> September 6, 2024</span><br>
                        </p>

                        <p>
                            NEEDS data
                        </p>

                        <hr>
                        <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>Paper Submissions</strong></h2>
                        <p class="margin-top-0">
                            PAPER SUBMISSION DATA
                        </p>
                        <hr>
                        <h2 class="margin-bottom-5"><strong>Submission Guidelines</strong></h2>
                        <p>
                            SUBMISSION GUIDLINES DATA
                        </p>
                        <p>
                            SUBMISSION DATA ABSTRACT   
                        </p>
                        <p>
                            SUBMISSION DATA FORMAT    
                        </p>
                        <p>All papers must be submitted via <br>Microsoft's Conference Management Toolkit platform:
                            <a href="https://cmt3.research.microsoft.com/ETD2024" target="_blank"
                                    class="tooltips" data-toggle="tooltip"
                                    data-original-title="Jump to this page">https://cmt3.research.microsoft.com/ETD2024</a>
                        </p>
                        <p>
                            CONFERENCE PAPERS PUBLISH SITE
                        </p>

                        <hr>
                        <!-- <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>List of Topics</strong></h2>
                        <p class="margin-top-0">Relevant topics include, but are not limited to:</p>
                        <h3>
                            <strong>Electronic Theses and Dissertations at Global Scale:</strong>Research on topics such as:
                        </h3>
                        <blockquote class="hero margin-bottom-50">
                            <ul>
                                <li>
                                    Application of Large Language Models to ETDs (e.g., automatic summarisation of ETDs, bibliometric analysis)
                                </li>
                                <li>
                                    Automatic Analysis of ETDs (e.g., topic modeling)
                                </li>
                                <li>
                                    ETD Implementation Use Cases (e.g., infrastructure implementation)
                                </li>
                                <li>
                                    ETD Policies and Practices (e.g., policy implementation)
                                </li>
                                <li>
                                    ETDs and e-Infrastructures (e.g., national ETD initiatives)
                                </li>
                                <li>
                                    ETDs and Long-term Preservation.
                                </li>
                                <li>
                                    ETDs and Open Access.
                                </li>
                                <li>
                                    ETDs and Open Science.
                                </li>
                                <li>
                                    ETDs and Persistent Identifiers.
                                </li>
                                <li>
                                    ETDs and Research Data.
                                </li>
                                <li>
                                    General Issues Related to ETDs.
                                </li>
                                <li>
                                    Global Visibility of ETDs.
                                </li>
                                <li>
                                    Graduate Education and Training.
                                </li>
                                <li>
                                    Institutional Repository Platforms.
                                </li>
                                <li>
                                    National and Global ETD Initiatives.
                                </li>
                            </ul>
                        </blockquote> -->

                        <hr>

                        <h3><strong>AHILA 2025 Conference Organising Committee</strong></h3>
                        <ul>
                            <li>Submission inquiries: needs data</li>
                            <li>General inquiries: need data</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/end container-->
    </div>
    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>
